body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  background-color: #ecf0f1 !important;
}

a:link {
  color: #d35400 !important;
}

a:visited {
  color: #c0392b !important;
}

.samgee .logo-banner.doodle-banner {
  background: #2c3e50 !important;
  border: 0 !important;
}

#jump_paging {
  display: none !important;
}

.samgee .header {
  background: #34495e !important;
  border: 0 !important;
}

.samgee .header li a:hover {
  background: #bdc3c7 !important;
  border-bottom: 0 !important;
}

.samgee .header .global-navigate li {
  border: 0 !important
}

.samgee .header .my-menu li { border: 0 !important }

.samgee .header .global-navigate li a,
.samgee .header .my-menu li a {
  color: #fff !important;
}

.samgee .header .search-wrap { display: none !important }
body.down header.clone { display: none !important }

.samgee .display-post-wrapper.main-post {
  border-radius: 0 !important;
  background-color: #bdc3c7 !important;
}

.samgee .display-post-wrapper.main-post .main-post-inner {
  box-shadow: none !important;
  border: 0 !important;
}

.samgee .altcolor05 .display-post-wrapper-inner {
  box-shadow: none !important;
  border: 0 !important;
  background-color: #fff !important;
  color: #333 !important;
  border-radius: 0;
}

.display-post-status-leftside {
  border: 0 !important;
  padding-bottom: 30px !important;
}
.display-post-story { color: #333 !important; }

.samgee .display-post-title { color: #2c3e50; }

.samgee .display-post-tag-wrapper .tag-item {
  border: 0 !important;
  background-color: #eee !important;
}
.samgee .display-post-tag-wrapper .tag-item:hover {
  background-color: #fff !important;
  color: #222 !important;
}

.samgee .display-post-wrapper-inner {
  box-shadow: none !important;
  background-color: #fff !important;
  border-radius: 0 !important;
}

.samgee .emotion-vote-list {
  background: #efefef !important;
  border: 0 !important
}

.samgee .display-post-wrapper {
  border-bottom: 1px solid #eee !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.samgee .pageno-title .pageno-title-line { display: none !important; }
.samgee .pageno-title .title {
  background: #dedede !important;
  color: #666 !important;
  padding: 0 20px !important;
}
.samgee .pageno-title .icon-header-badge3 { display: none !important; }

.samgee .loadmore-bar-paging a,
.samgee .loadmore-bar-paging .loadmore-bar-inner {
  background: #3498db !important;
  border: 0 !important;
  box-shadow: none !important;
}

.samgee .loadmore-bar-paging {
  border: 1px solid #efefef !important;
}

.samgee .sub-comment .display-post-wrapper-inner {
  background: #fff !important;
  border: 0 !important;
  padding-bottom: 20px !important;
  border-radius: 0 !important;
}

.samgee .loadmore-bar a,
.samgee .loadmore-bar .loadmore-bar-inner {
  text-shadow: none !important;
  color: #fff !important;
}

.samgee .display-post-vote .like-score.top-score {
  color: #16a085 !important;
  font-weight: bold !important;
  font-size: 2rem !important;
}

.samgee .display-post-vote .icon-heart-like,
.samgee .display-post-vote .icon-heart-dislike {
  background: none !important;
  border: 0 !important;
}

.samgee .display-post-wrapper.comment-box-color textarea {
  background: #f8f8f8 !important;
  border: 1px solid #e6e6e6 !important;
  box-shadow: none !important;
}

.button {
  background: #fff !important;
  border: 0 !important;
  box-shadow: none !important;
}

.button:hover {
  background: #fff !important;
}

.button span {
  box-shadow: none !important;
  border: 0 !important;
}

.button.letdo-butt span,
.button.selected-butt.letdo-butt:hover span {
  background: #16a085 !important;
}

.button.letdo-butt span em {
  text-shadow: none !important;
  border: 0 !important;
  padding: 1em 2em !important;
  font-size: 16px !important;
}

.samgee .footer {
  background: #2c3e50 !important
}

.remark-four-txt {
  color: #999 !important;
}
